body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4f4a4a;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 22px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fbfbfb;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7d5b5b;
}

.zero {
    grid-column: span 2;
}